@using HomePage.Models;

@model HomePage.Models.MemberVO

@{
    ViewBag.Title = "Entry";
}

<h2>회원가입</h2>

<form method="post" action="@Url.Action("Entry","Member")" class="wpcf7-form">
    <table class="table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>아이디</td>
            <td >@Html.TextBoxFor(m => m.MemberID, new { placeholder = "아이디를 입력하세요." })</td>
            <td><button type="button" onclick="return fnDoubleCheck();">중복검사</button></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td>@Html.TextBoxFor(m => m.MemberPWD, new { placeholder = "암호를 입력하세요." })</td>
            <td></td>
        </tr>
        <tr>
            <td>이름</td>
            <td>@Html.TextBoxFor(m => m.MemberName, new { placeholder = "이름을 입력하세요." })</td>
            <td></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td>@Html.TextBoxFor(m => m.Email, new { placeholder = "메일을 입력하세요." })</td>
            <td></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td>@Html.TextBoxFor(m => m.Telephone, new { placeholder = "전화번호를 입력하세요." })</td>
            <td></td>
        </tr>

    </table>
    
    <div class="dividewhite2"></div>
    <div class="field text-center">
        <button type="submit" id="btnSave" onclick="return fnSaveCheck();" class="btn btn-lg btn-lgr-str">가입하기</button>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btnSave").attr("disabled", true); //중복검사 안할경우 가입하기 클릭 불가
            
            var result = '@ViewBag.Result';
            if (result == 'OK') {
                alert("정상적으로 저장되었습니다.");
                location.href = "/Home";
            }

            if (result == 'FAIL') {
                alert("저장작업을 실패하였습니다.");
            }
        });

        //저장 유효성검사
        function fnSaveCheck() {
            //빈 공간 체크
            if ($("#MemberID").val() == "") {
                alert("아이디를 입력해주십시오.")
                $("#MemberID").focus();
                $("#btnSave").attr("disabled", true);
                return false;
            }

            if ($("#MemberName").val() == "") {
                alert("성명을 입력해주십시오.")
                $("#MemberName").focus();
                return false;
            }
            if ($("#MemberPWD").val() == "") {
                alert("암호를 입력해주십시오.")
                $("#MemberPWD").focus();
                return false;
            }
            
            var TelephonePattern = /[0-9]{3}-[0-9]{4}-[0-9]{4}/;
            var EmailPattern = @ViewBag.EmailPattern;
            //ID 공백
            if ($('#MemberID').val().search(/\s/) != -1)
            {
                alert("아이디에서 공백을 없애주세요.")
                $("#MemberID").focus();
                $("#btnSave").attr("disabled", true);
                return false;
            }
            //이름 공백
            if ($('#MemberName').val().search(/\s/) != -1) {
                alert("이름에서 공백을 없애주세요.")
                $("#MemberName").focus();
                $("#btnSave").attr("disabled", true);
                return false;
            }
            //전화번호 패턴
            if (!TelephonePattern.test($('#Telephone').val()) )
            {
                alert("전화번호 000-0000-0000양식을 지켜주세요.")
                $("#Telephone").focus();
                $("#btnSave").attr("disabled", true);
                return false;
            }
            if (!EmailPattern.test($('#Email').val())) {
                alert("이메일 000@000.000양식을 지켜주세요.")
                $("#Email").focus();
                $("#btnSave").attr("disabled", true);
                return false;
            }
            return true;
        }


        //아이디 중복검사
        function fnDoubleCheck() {

            if ($("#MemberID").val() == "") {
                alert("아이디를 입력해주십시오.")
                $("#MemberID").focus();
                return false;
            }
            //ID 공백
            if ($('#MemberID').val().search(/\s/) != -1) {
                alert("아이디에서 공백을 없애주세요.")
                $("#MemberID").focus();
                $("#btnSave").attr("disabled", true);
                return false;
            }

            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '/Member/IDCheck?memberid=' + $("#MemberID").val(),
                data: "{}",
                dataType: "json"
            })
          .done(function (response) {
              //debugger;
          
              if (response == "OK") {
                  alert("사용가능 아이디입니다.");
                  $("#btnSave").removeAttr("disabled");//중복검사 통과시 가입하기 활성화
              } else {
                  alert("중복 아이디가 존재합니다.");
                  $('#MemberID').val('');//MemberID 공백으로 만들기
                  $('#MemberID').focus();//MemberID 로 포커스 맞춤
                  $("#btnSave").attr("disabled", true);//중복검사시 아이디 중복일 경우 가입하기 버튼 불가
              }
          })
          .fail(function (data) {
              if (data.responseText !== '') {
                  alert(data.responseText);
              } else {
                  alert("에러가 발생했습니다");
              }
          });
        }

    </script>
    }
